@model ViewDocumentList;
@{
    ViewData["Title"] = "View Documents";
    int requestId = (int)TempData["requestId"];
}
@section style{
    <link rel="stylesheet" href="~/css/view_document.css" asp-append-version="true" />
}

<ul class="nav nav-underline ps-4 pe-4 bg-white">
    <li class="nav-item">
        <a class="nav-link active fs-5 fw-medium" aria-current="page" asp-action="PatientDashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" asp-action="Profile">Profile</a>
    </li>
</ul>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <h4>Documents</h4>

        <a asp-controller="Patient" asp-action="PatientDashboard" class="btn btn-outline-info"> < Back </a>
    </div>

    <div class="bg">
        Patient Name
        <h5><span class="text-info"> @Model.Name </span> (@Model.ConfirmationNumber) </h5>
        <p>
            Check here for any files that you or the doctors of your subsequents
            requestors have attached for you to review.
        </p>

        <div class="row">
            <div class="mb-3">
                <div class="d-flex rounded border bg-light align-items-center ps-2"
                     onclick="document.getElementById('choose-file').click()"
                     style="cursor: pointer">
                    <label class="flex-grow-1 upload" id="fileLabel">Select File</label>
                    <button type="button" class="btn btn-info uploadbtn text-white"
                            style="width: fit-content">
                        <img src="~/img/cloud-upload-icon.svg" alt="" />
                        Upload
                    </button>
                </div>
            </div>
        </div>

        <div id="fileNames">
        </div>

        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-info text-white float-end toggle-button" onclick="submitFile(@Model.RequestId)">Upload All</button>
        </div>
        <input type="file" style="display: none" multiple id="choose-file" />

        <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
            <h5>Documents</h5>

            <a class="btn btn-outline-info" onclick="downloadSelectedFiles()"> Download All </a>
        </div>
        <table class="table mt-3">
            <thead class="table-light">
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        Documents
                    </td>
                    <td>
                        Uploader
                    </td>
                    <td>Upload Date <i class="bi bi-arrow-up-short fs-4"></i> </td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Document)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="checkdoc" />
                        </td>
                        <td>
                            @item.FileName
                        </td>
                        <td>
                            @item.CreatedBy
                        </td>
                        <td>
                            @item.CreatedDate.ToString("MMM dd, yyyy")
                        </td>
                        <td>
                            <a asp-route-download="@item.DocumentId" asp-action="Download" class="btn btn-outline-info"><i class="bi bi-cloud-arrow-down fs-4"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    //script for cross and list of selected files
    let allFiles = [];
    let input = document.getElementById("choose-file");
    var button = document.getElementsByClassName("toggle-button")[0];

    let div = document.getElementById("fileNames");

    input.addEventListener("change", function () {
        let files = input.files;


        for (let i = 0; i < files.length; i++) {
            allFiles.push(files[i]);
        }

        console.log(allFiles)
        button.style = "display:block"
        showNames(files);
    });

    function showNames(files) {
        for (let i = 0; i < files.length; i++) {
            let icon = document.createElement('i');
            icon.classList = 'bi bi-x-lg fileIcon';

            // let br = document.createElement('br');

            let span = document.createElement('span');
            span.className = "showFile";
            span.style.color = 'black';
            span.textContent = files[i].name;

            let spanIcon = icon.cloneNode(true); // Clone the icon for each file
            span.appendChild(spanIcon);
            div.appendChild(span);
            // div.appendChild(br);

            spanIcon.onclick = function () {
                let index = allFiles.indexOf(files[i]);
                allFiles.splice(index, 1);
                div.removeChild(span);
                div.removeChild(br);

                if (allFiles.length == 0) {
                    button.style = "display:none";
                }
            };
        }
    }

    function removeAll() {
        allFiles = [];
        div.innerHTML = "";
        button.style = "display:none";
    }

    function submitFile(id) {

        console.log(allFiles);
        console.log("ADFA");

        const formData = new FormData();

        for (let i = 0; i < allFiles.length; i++) {
            formData.append('files', allFiles[i]);
        }


        $.ajax({
            type: 'POST',
            url: "/Document/Upload/" + id,
            data: (formData),
            processData: false,
            contentType: false,

            success: function (response) {
                console.log(response)
                removeAll();
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error("Error:", status, error);
            }
        });
    }

    //script for download selected files
    function downloadSelectedFiles() {

        var selectedFiles = document.querySelectorAll('input[name="checkdoc"]:checked');
        var fileUrls = [];


        selectedFiles.forEach(function (checkbox) {
            var row = checkbox.closest('tr');
            var fileUrl = row.querySelector('a').getAttribute('href');
            fileUrls.push(fileUrl);
        });

        fileUrls.forEach(function (url) {
            var link = document.createElement('a');
            link.href = url;
            link.download = '';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    }

    //script for checking all the files
    document.addEventListener('DOMContentLoaded', function () {
        const selectAllCheckbox = document.querySelector('thead input[type="checkbox"]');
        const rowCheckboxes = document.querySelectorAll('tbody input[type="checkbox"]');

        // Add event listener to the "Select All" checkbox
        selectAllCheckbox.addEventListener('change', function () {
            const isChecked = this.checked;
            // Set the checked property of all row checkboxes to match the state of the "Select All" checkbox
            rowCheckboxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
        });
    });
</script>