@{
    ViewData["Title"] = "Invoicing";
    Layout = "~/Views/Shared/_ProviderLayout.cshtml";
    string active = "#invoicing";
}
@model FinalizeTimesheetDTO
@* <div class="container">
    <div class="d-flex justify-content-end align-items-center mt-4 mb-4">

        <a class="btn btn-outline-info text-info bg-light " onclick="history.back()">
            < Back </a>
    </div>

    <div class="bg-white rounded shadow p-3 mb-2">
        <form method="post" asp-action="SubmitFinalizeData" asp-controller="Provider" enctype="multipart/form-data">

            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th class="col">
                            Date
                        </th>
                        <th class="col text-center">
                            On call hours
                        </th>
                        <th class="col text-center">
                            Total Hours
                        </th>
                        <th class="col text-center">
                            Weekend/Holiday
                        </th>
                        <th class="col text-center">
                            Number of housecalls
                        </th>
                        <th class="col text-center">
                            Number of phone consults
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            03/01/2024
                        </td>
                        <td class="text-center">
                            0
                        </td>
                        <td class="text-center">
                            <input type="text" value="0" class="form-control p-2 px-4" id="totalHours">
                        </td>
                        <td class="text-center">
                            <input class="form-check-input" name="" type="checkbox" value="">
                        </td>
                        <td class="text-center">
                            <input type="text" class="form-control p-2 px-4" id="housecalls">
                        </td>
                        <td class="text-center">
                            <input type="text" class="form-control p-2 px-4" id="consults">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-info text-white"> Submit </button>
            </div>
        </form>

    </div>
    <a class="btn btn-info text-white"> Add Receipts</a>

    <div class="bg-white rounded shadow p-3 mb-2">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th class="col">
                        Date
                    </th>
                    <th class="col text-center">
                        Item
                    </th>
                    <th class="col text-center">
                        Amount
                    </th>
                    <th class="col text-center">
                        Bill
                    </th>
                    <th class="col text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        03/01/2024
                    </td>
                    <td class="text-center">
                        Medicines
                    </td>
                    <td class="text-center">
                        10
                    </td>
                    <td class="text-center">
                        pdf
                    </td>
                    <td class="text-center">
                        <a class="btn btn-outline-info bg-white text-info"> Edit </a>
                        <a class="btn btn-outline-info bg-white text-info"> Delete </a>
                        <a class="btn btn-outline-info bg-white text-info"> View </a>
                    </td>
                </tr>

                <tr>
                    <td>
                        03/01/2024
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control p-2 px-4" id="item">
                    </td>
                    <td class="text-center">
                        <input type="text" value="0" class="form-control p-2 px-4" id="amount">
                    </td>
                    <td class="text-center">
                        <div class="row rounded border bg-light">
                            <div id="filename" class="col-6" style="border:none">Select File</div>
                            <div class="col-6 d-flex justify-content-end pe-0">
                                <label for="sign" class="bg-info text-white text-center h-100 rounded-end py-3 px-2"
                                    style="cursor: pointer;">
                                    <i class="bi bi-cloud-upload text-white"></i>
                                    <label for="sign" class="text-white" style="cursor: pointer;">Upload</label>
                                </label>
                                <input type="file" id="sign">
                            </div>
                        </div>
                        <img src="" id="bill_pdf" class="w-100 mt-4">
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-info text-white mb-2"> Finalize </a>
    </div>
</div> *@


<div class="container">
    <div class="container d-flex justify-content-end align-items-center mt-5 ">
        <button class="btn btn-outline-info text-info mt-4" onclick="history.back()"> < Back </button>
    </div>
    <div class="shadow rounded me-2 bg-white">
        <form method="post" asp-action="Finalizesubmit" asp-controller="Provider">
            <partial name="_timesheetpartial" model="Model">
                <div class="row d-flex justify-content-end mb-2 text-end me-1 pb-3">
                    <div class="col-2">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
        </form>
        <div class="row d-flex justify-content-between mb-5 mt-3">
            <div class="col-2">
                <button type="submit" class="btn btn-info">Add receipts</button>
            </div>
            <div class="col-2 text-end">
                <a class="btn btn-info" id="finalizeBtntimesheet">Finalize</a>
            </div>
        </div>
        <div class="table-responsive">
            <form method="post" asp-action="Addreceipts" asp-controller="Provider">
                <input type="text" asp-for="selectedvalue" hidden />
                <div class="table-responsive">
                    <table class="table mt-4 text-center bg-white">
                        <thead class="bg-light">
                            <tr class="my-2">
                                <th scope="col">Date</th>
                                <th scope="col">Item</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Bill</th>
                                <th scope="col" colspan="3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*                             @for (int i = 0; i < Model.Reciepts.Count; i++)
                            {
                            <tr>
                            <td><input type="text" asp-for="@Model.Reciepts[i].date" hidden>@Model.Reciepts[i].date</td>
                            <td>@Model.Reciepts[i].Item</td>
                            <td><input asp-for="@Model.Reciepts[i].Amount" type="text" pattern="[0-9]{1,2}" /></td>
                            <td>
                            <div class="row  mx-auto">
                            <div class="col-lg-12 d-flex justify-content-between rounded border pe-0" id="upload">
                            <span id="filename" class="py-3" style="border:none">Select File</span>

                            <div class="p-0">
                            <label for="fileLoader" class="bg-info text-white text-center h-100 rounded-end py-2 px-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" class="bi bi-cloud" viewBox="0 0 16 16">
                            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13h5.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>
                            <label for="fileLoader" class="h-100 p-2 text-white">Upload</label>
                            </label>
                            <input asp-for="@Model.Reciepts[i].Upload" type="file" id="fileLoader" onchange="filenames(this)" multiple>
                            </div>
                            </div>
                            </div>
                            </td>
                            <td>
                            <button type="button" value="Edit" class="btn btn-outline-info me-2"></button>
                            <button type="button" value="Delete" class="btn btn-outline-info me-2"></button>
                            <button type="button" value="View" class="btn btn-outline-info"></button>
                            </td>
                            </tr>
                            } *@
                        </tbody>
                    </table>
                </div>
                <div class="row d-flex justify-content-end mb-2 text-end me-1 pb-3">
                    <div class="col-2">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="_ActiveTabPartial" model=active />

<script>
    togglenav('Invoicing')
    document.addEventListener("DOMContentLoaded", function () {
        var dateDropdown = "@Model.phytimesheet[0].date";
        var finalizeBtn = document.getElementById("finalizeBtntimesheet");
        finalizeBtn.addEventListener("click", function () {
            var datearr = dateDropdown.split('/');
            window.location.href = '/Provider/Finalizetimesheetbutton?id=' + '@Model.id';
        });
    });
</script>