@model List<AdminDashboardDTO>
@{
    ViewData["Title"] = "_PendingStateTable";
}

@functions {
    public string GetColor(int RequestTypeId)
    {
        switch (RequestTypeId)
        {
            case 1: return "pink";
            case 2: return "green";
            case 3: return "orange";
            case 4: return "blue";
            default: return "green";
        }
    }

    public string showName(int Status)
    {
        switch (Status)
        {
            case 1: return "New";
            case 2: return "Pending";
            case 3: return "Active";
            case 4: return "Conclude";
            case 5: return "To close";
            case 6: return "Unpaid";
            default: return "Unknown";
        }
    }
}
<div class="table-responsive d-none d-sm-block" style="min-height:40vh">
    <table class="table " id="adminTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Physician Name</th>
                <th scope="col">Date Of Service</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="text-white">
            @foreach (var a in Model)
            {
                <tr class="align-middle table-@{ @GetColor(a.RequestTypeId) }" data-request-type="RequestTypeId">
                    <td scope="row">@a.Name, @a.RequestId</td>
                    <td>@a.Dob.ToString("MMM,dd yyyy")</td>
                    <td>@a.Requestor</td>
                    <td>@a.PhysicianName</td>
                    <td>@a.RequestedDate</td>
                    <td>
                        <div>
                            <span class="border border-white rounded p-2"><i class="bi bi-telephone p-2"></i>@a.Phone</span>
                        </div>
                    </td>
                    <td>@a.Address</td>
                    <td>
                        @if (!string.IsNullOrEmpty(a.Notes))
                        {
                            @a.Notes
                        }
                        else
                        {
                            @Html.Raw("-")
                        }
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <button class="btn border border-white text-white">Patient</button>
                            <button class="btn border border-white text-white">Provider</button>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn border border-white text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item viewCase" role="button" href="@Url.Action("ViewCase", "Admin", new { requestId = a.RequestId })"><i class="fa-solid fa-file-signature pe-2"></i>View Case</a></li>
                                <li><a class="dropdown-item" role="button" href="@Url.Action("ViewUploads","Admin",new{requestId = a.RequestId})"><i class="fa-solid fa-file-arrow-up pe-2"></i>View Uploads</a></li>
                                <li><a class="dropdown-item viewNotes" role="button" href="@Url.Action("ViewNotes", "Admin", new { requestId = a.RequestId })"> <i class="fa-solid fa-book pe-2"></i>View Notes</a></li>
                                <li><a class="dropdown-item assignCase" role="button" data-bs-toggle="modal" data-bs-target="#assignModal" data-reqid="@a.RequestId"><i class="fa-solid fa-file-import pe-2"></i>Transfer</a></li>
                                <li><a class="dropdown-item cancelCase" role="button" onclick="SetCancelInfo(@a.RequestId,'@a.Name')"><i class="fa-regular fa-circle-xmark pe-2"></i>Clear Case</a></li>
                                <li><a class="dropdown-item blockCase" role="button" onclick="SetBlockInfo(@a.RequestId,'@a.Name')"><i class="fa-regular fa-file-lines pe-2"></i>Send Agreement</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

