@using Entities.ViewModels;
@model List<AdminDashboardDTO>;

@{
    var status = Model.Count > 0 ? Model[0].Status : 1;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<link asp-append-version="true" rel="stylesheet" href="/css/admin_dashboard.css" />

<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>


<div class="table-responsive d-lg-block d-none">
    <table id="myTable" class="table">
        <thead>
            <tr class="bg-light fw-bold mx-1">
                <th>Name</th>

                @if (status != 6)
                {
                    <th>Date of Birth</th>
                }

                @if (status == 5)
                {
                    <th>Region</th>
                }
                @if (status <= 3)
                {
                    <th>Requstor</th>
                }

                @if (status >= 2)
                {
                    <th>Physician Name</th>
                }

                @if (status == 1)
                {
                    <th>Requested Date</th>
                }

                @if (status >= 2)
                {
                    <th>Date of Service</th>
                }
                @if (status != 5)
                {
                    <th>Phone</th>
                }
                <th>Address</th>
                @if (status == 4 || status == 6)
                {
                }
                else
                {
                    <th>Notes</th>
                }
                <th>Chat with</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var items in Model)
            {
                string BgColor = "patienttype";
                switch (items.RequestTypeId)
                {
                    case 1:
                        BgColor = "patienttype";
                        break;
                    case 2:
                        BgColor = "patienttype";
                        break;
                    case 3:
                        BgColor = "friendtype";
                        break;
                    case 4:
                        BgColor = "concarigetype";
                        break;
                    case 5:
                        BgColor = "businesstype";
                        break;
                    default:
                        BgColor = "patienttype";
                        break;
                }

                <tr class="@BgColor text-white mx-1 border-bottom-white">
                    <td>
                        @items.FirstName @items.LastName, @items.RequestId
                        <a class="btn bi bi-envelope border-1 border-white text-white"></a>
                    </td>
                    @if (status != 6)
                    {
                        <td>@items.Dob.ToString("MMM,dd yyyy")</td>
                    }
                    @if (status == 5)
                    {
                        <td>Region 1</td>

                    }
                    @if (status <= 3)
                    {
                        <td>Patient @items.FirstName @items.LastName</td>
                    }
                    @if (status >= 2)
                    {
                        <td>@items.PhysicianName</td>
                    }
                    @if (status == 1)
                    {
                        <td>@items.RequestedDate.ToString("MMM,dd yyyy")</td>
                    }
                    @if (status >= 2)
                    {
                        <td>--</td>
                    }

                    @if (status != 5)
                    {
                        <td>
                            @if (items.RequestTypeId == 2 && !string.IsNullOrEmpty(items.ClientPhone))
                            {
                                <a class="btn border-1 border-white text-white text-nowrap">
                                    <i class="bi bi-telephone mx-2"></i>
                                    @items.ClientPhone
                                </a>
                                <p>(Patient)</p>
                            }
                            else if (!string.IsNullOrEmpty(items.ClientPhone) && !string.IsNullOrEmpty(items.Phone))
                            {
                                <a class="btn border-1 border-white text-white text-nowrap">
                                    <i class="bi bi-telephone mx-2"></i>
                                    @items.ClientPhone
                                </a>
                                <p>(Patient)</p>

                                <a class="btn border-1 border-white text-white text-nowrap">
                                    <i class="bi bi-telephone mx-2"></i>
                                    @items.Phone
                                </a>
                                @if (items.RequestTypeId == 1)
                                {
                                    <p>(Business)</p>
                                }
                                @if (items.RequestTypeId == 3)
                                {
                                    <p>(Family/Friend)</p>
                                }
                                @if (items.RequestTypeId == 4)
                                {
                                    <p>(Concierge)</p>
                                }
                            }
                            else if (!string.IsNullOrEmpty(items.Phone))
                            {
                                <a class="btn border-1 border-white text-white text-nowrap">
                                    <i class="bi bi-telephone mx-2"></i>
                                    @items.Phone
                                </a>
                                @if (items.RequestTypeId == 1)
                                {
                                    <p>(Business)</p>
                                }
                                @if (items.RequestTypeId == 3)
                                {
                                    <p>(Family/Friend)</p>
                                }
                                @if (items.RequestTypeId == 4)
                                {
                                    <p>(Concierge)</p>
                                }
                            }
                        </td>
                    }
                    <td>@items.Address</td>
                    @if (status == 4 || status == 6)
                    {
                    }
                    else
                    {
                        <td>@items.Notes</td>
                    }

                    <td class="text-nowrap">
                        @if (status != 1)
                        {
                            <a class="btn border-1 border-white text-white fs-6">
                                <i class="bi bi-person-square mx-1"></i>
                                Patient
                            </a>
                        }
                        <a class="btn border-1 border-white text-white">
                            <i class="bi bi-person-square mx-1">
                            </i>Provider
                        </a>
                    </td>

                    <td class="dropdown">
                        <button class="btn border border-white text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu">
                            @if (status == 1)
                            {
                                <li><a class="dropdown-item assignCase" role="button" onclick="SetAssignId(@items.RequestId)"><i class="fa-regular fa-file-lines pe-2"></i>Assign Case</a></li>
                                <li><a class="dropdown-item cancelCase" role="button" onclick="SetCancelInfo(@items.RequestId,'@items.FirstName')"><i class="fa-regular fa-circle-xmark pe-2"></i>Cancel Case</a></li>
                            }

                            <li><a class="dropdown-item viewCase" role="button" asp-route-requestId="@items.RequestId" asp-action="ViewCase"><i class="fa-solid fa-file-signature pe-2"></i>View Case</a></li>

                            @if (status != 1)
                            {
                                <li><a class="dropdown-item" role="button" asp-route-requestId="@items.RequestId" asp-action="ViewUploads"><i class="fa-solid fa-file-arrow-up pe-2"></i>View Uploads</a></li>
                            }
                            <li><a class="dropdown-item viewNotes" role="button" asp-route-requestId="@items.RequestId" asp-action="ViewNotes"> <i class="fa-solid fa-book pe-2"></i>View Notes</a></li>

                            @if (status == 1)
                            {
                                <li><a class="dropdown-item blockCase" role="button" onclick="SetBlockInfo(@items.RequestId,'@items.FirstName')"><i class="fa-solid fa-ban pe-2"></i>Block Patient</a></li>
                            }

                            @if (status == 2)
                            {
                                <li><a class="dropdown-item" role="button" onclick="SetTransferId(@items.RequestId)"><i class="fa-solid fa-file-import pe-2"></i>Transfer</a></li>
                            }

                            @if (status == 3 || status == 4 || status == 5)
                            {
                                <li><a class="dropdown-item" role="button" asp-route-requestId="@items.RequestId" asp-action="SendOrder"><i class="fa-solid fa-file-circle-check pe-2"></i>Orders</a></li>
                            }
                            @if (status == 5)
                            {
                                <li><a class="dropdown-item" role="button"><i class="fa-regular fa-circle-xmark pe-2"></i>Close Case</a></li>
                            }
                            @if (status == 2 || status == 5)
                            {
                                <li><a class="dropdown-item" role="button" onclick="SetCancelId(@items.RequestId)"><i class="fa-regular fa-circle-xmark pe-2"></i>Clear Case</a></li>
                            }

                            @if (status == 3 || status == 4 || status == 5)
                            {
                                <li>
                                    <a class="dropdown-item">
                                        <i class="fa-regular fa-file-lines pe-2"></i>
                                        Doctors Note
                                    </a>
                                </li>
                            }

                            @if (status == 2)
                            {
                                <li><a class="dropdown-item " role="button" onclick="SetAgreementInfo(@items.RequestId,@items.RequestTypeId,'@items.ClientPhone','@items.Email')"><i class="fa-regular fa-file-lines pe-2"></i>Send Agreement</a></li>
                            }

                            @if (status == 3 || status == 4 || status == 5)
                            {
                                <li>
                                    <a class="dropdown-item" asp-route-requestId="@items.RegionId" asp-action="Encounter">
                                        <i class="fa-regular fa-file-lines pe-2"></i>
                                        Encounter
                                    </a>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pagination">
    <ul>
        <!-- Previous button -->
        <li class="page-item">
            <a class="page-link" onclick="previousPage()">&laquo; Previous</a>
        </li>

        <!-- Page links -->
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.PageIndex ? "active" : "")">
                <a class="page-link" onclick="changePage(@i)">@i</a>
            </li>
        }

        <!-- Next button -->
        <li class="page-item">
            <a href="#" class="page-link" onclick="nextPage()">Next &raquo;</a>
        </li>
    </ul>
</div>

<div class="accordion accordion-flush d-lg-none d-block" id="accordionFlushExample">
    <div class="accordion-item">
        @foreach (var item in Model)
        {
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed text-black pt-3 ps-3 pe-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone-@item.RequestId" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#ebfafd;">

                    <div class="col d-flex flex-column">
                        <span class="text-break">@item.FirstName, @item.LastName,@item.RequestId</span>
                        <span class=" mt-2 text-break">@item.Address </span>
                        <span class="mt-3"><i class="bi bi-clock text-info me-2"></i>Wait Time: DEC5, 2023</span>
                    </div>
                    <div class="col d-flex flex-column text-end mt-2 p-0">
                        <div>
                            @switch (item.RequestTypeId)
                            {
                                case 1:
                                    <span>Patient</span>
                                    <i class="bi bi-circle-fill green-color"></i>
                                    break;
                                case 2:
                                    <span>Family/Friend</span>
                                    <i class="bi bi-circle-fill orange-color"></i>
                                    break;
                                case 3:
                                    <span>Business</span>
                                    <i class="bi bi-circle-fill pink-color"></i>
                                    break;
                                case 4:
                                    <span>Concierge</span>
                                    <i class="bi bi-circle-fill blue-color"></i>
                                    break;
                            }

                        </div>
                        <div class="btn rounded-pill text-info border-info float-end mt-2">
                            Map Location
                        </div>
                    </div>
                </button>
                <hr class="m-0">
            </h2>


            <div id="flush-collapseone-@item.RequestId" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="background-color:#e7f1ff; color:black">
                <div class="d-flex justify-content-end d-inline">
                    <div class="rounded-pill me-3 viewCaseBtn p-1 mt-1 viewCase">
                        View Case
                    </div>
                </div>
                <div class="accordion-body gap-2">
                    @if (status != 6)
                    {
                        <div class="d-flex mb-1">
                            <span class="accordian-span me-2"> <i class="bi bi-calendar2-minus"></i></span>
                            <span class="fw-lighter"> Date of birth: <span class="fw-bolder">@item.Dob.ToString("D")</span> </span>
                        </div>
                    }

                    <div class="d-flex mb-1">
                        <span class="accordian-span me-2"><i class="bi bi-envelope"></i></span>
                        <span class="fw-lighter"> Email: <span class="fw-bolder">@item.Email</span> </span>

                    </div>

                    @if (status != 5)
                    {
                        <div class="d-flex mb-1">
                            <span class="accordian-span me-2">  <i class="bi bi-telephone"></i></span>
                            <span class="fw-lighter"> Patient: <span class="fw-bolder">@item.Phone</span> </span>
                        </div>
                    }

                    @if (status == 2 || status == 3 || status == 5)
                    {
                        <div class="d-flex mb-1">
                            <span class="accordian-span me-2"> <i class="bi bi-journal-text"></i></span>
                            <span class="fw-lighter"> Transfer Notes: <span class="fw-bolder">@item.Notes</span> </span>
                        </div>
                    }

                    @if (status != 1)
                    {
                        <div class="d-flex mb-1">
                            <span class="accordian-span me-2">  <i class="bi bi-calendar2-minus"></i> </span>
                            <span class="fw-lighter"> Date of Service: <span class="fw-bolder">@item.DateOfService.ToString("D")</span> </span>
                        </div>
                        <div class="d-flex mb-1">
                            <span class="accordian-span me-2"> <i class="bi bi-person-add"></i></span>
                            <span class="fw-lighter"> Physician: <span class="fw-bolder">@item.PhysicianName</span> </span>
                        </div>
                    }

                    @if (status == 1 || status == 2 || status == 3)
                    {
                        <div class="d-flex mb-1">
                            <span class="accordian-span me-2"> <i class="bi bi-person"></i></span>
                            <span class="fw-lighter"> Requestor: <span class="fw-bolder">@item.FirstName, @item.LastName</span> </span>
                        </div>
                    }
                    @if(status == 5)
                    {
                        <div class="d-flex mb-1">
                            <span class="accordian-span me-2"> <i class="bi bi-geo-alt"></i></span>
                            <span class="fw-lighter"> Region: <span class="fw-bolder">@item.Region</span> </span>
                        </div>
                    }
                </div>
                <div class="row mx-3">
                    @if (status == 1)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100  text-white rounded-pill p-2 bg-purple">Assign Case</a>
                        </div>
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-danger text-white rounded-pill p-2">Cancel Case</a>
                        </div>
                    }
                    @if (status != 1)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-success text-white rounded-pill p-2">View Uploads</a>
                        </div>
                    }

                    <div class="col-6 mt-1 mb-1">
                        <a class="btn w-100 bg-success text-white rounded-pill p-2">View Notes</a>
                    </div>

                    @if (status == 1)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-danger text-white rounded-pill p-2">Block Patient</a>
                        </div>
                    }
                    @if (status == 2)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-primary text-white rounded-pill p-2">Transfer</a>
                        </div>
                    }
                    @if (status == 3 || status == 4 || status == 5)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-warning text-white rounded-pill p-2">Orders</a>
                        </div>
                    }
                    @if (status == 5)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-danger text-white rounded-pill p-2">Close Case</a>
                        </div>
                    }
                    @if (status == 2 || status == 5)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-warning text-white rounded-pill p-2">Clear Case</a>
                        </div>
                    }
                    @if (status == 3 || status == 4 || status == 5)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-dark-green text-white rounded-pill p-2">Doctors Note</a>
                        </div>
                    }
                    @if (status == 2)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-warning text-white rounded-pill p-2">Send Agreement</a>
                        </div>
                    }
                    @if (status == 3 || status == 4 || status == 5)
                    {
                        <div class="col-6 mt-1 mb-1">
                            <a class="btn w-100 bg-success text-white rounded-pill p-2">Encounter</a>
                        </div>
                    }

                    <div class="col-6 mt-1 mb-1">
                        <a class="btn w-100 bg-success text-white rounded-pill p-2">Email</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>



<partial name="_ModalPartial" model=null />


@* <script>
    $(document).ready(function () {
        $('#myTable').DataTable({

            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
    });
    $('.dataTables_length').hide();
    $('.dataTables_filter').hide();
</script> *@