@model List<AdminDashboardDTO>
@{
    ViewData["Title"] = "_TocloseStatetable";
}

@functions {
    public string GetColor(int RequestTypeId)
    {
        switch (RequestTypeId)
        {
            case 1: return "pink";
            case 2: return "green";
            case 3: return "orange";
            case 4: return "blue";
            default: return "green";
        }
    }

    public string showName(int Status)
    {
        switch (Status)
        {
            case 1: return "New";
            case 2: return "Pending";
            case 3: return "Active";
            case 4: return "Conclude";
            case 5: return "To close";
            case 6: return "Unpaid";
            default: return "Unknown";
        }
    }
}

    <div class="table-responsive d-none d-sm-block">
        <table class="table " id="adminTable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Region</th>
                    <th scope="col">Physian Name</th>
                    <th scope="col">Date Of Service</th>
                    <th scope="col">Address</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Chat With</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr class="align-middle table-@{ @GetColor(a.RequestTypeId)}">
                        <td scope="row">@a.Name, @a.RequestId</td>
                        <td>@a.Dob.ToString("MMM,dd yyyy")</td>
                        <td>@a.Region</td>
                        <td>@a.PhysicianName</td>
                        <td>@a.RequestedDate</td>
                        <td>@a.Address</td>
                        <td>@a.Notes</td>
                        <td>
                            <div class="d-flex gap-2">
                                <button class="btn btn-outline-secondary d-none d-md-block">Patient</button>
                                <button class="btn btn-outline-secondary d-none d-md-block">Provider</button>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn text-white border border-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item viewCase" role="button" asp-route-requestId="@a.RequestId" asp-action="ViewCase">View Case</a></li>
                                    <li><a class="dropdown-item role="button" asp-route-requestId="@a.RequestId" asp-action="ViewUploads">View Uploads</a></li>
                                    <li><a class="dropdown-item viewNotes" role="button" asp-route-requestId="@a.RequestId" asp-action="ViewNotes">View Notes</a></li>
                                    <li><a class="dropdown-item" role="button" asp-route-requestId="@a.RequestId" asp-action="SendOrder">Orders</a></li>
                                    <li><a class="dropdown-item" role="button">Close Case</a></li>
                                    <li><a class="dropdown-item" role="button">Doctors Note</a></li>
                                    <li><a class="dropdown-item" role="button">Clear Case</a></li>
                                    <li><a class="dropdown-item" role="button">Encounter</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
}



