@using Entities.Enum;
@model Pagination<UserAccessDTO>

<table class="table mt-3">
    <thead class="table-light">
        <tr>
            <th class="col">
                Account Type
                <i class="bi bi-arrow-up"></i>
            </th>
            <th class="col text-center">
                Account POC
            </th>
            <th class="col text-center pe-5">
                Phone
            </th>
            <th class="col text-center">
                Status
            </th>
            <th class="col text-center">
                Open Requests
            </th>
            <th class="col text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @item.AccountType
                </td>
                <td class="text-center">
                    @item.AccountName
                </td>
                <td class="text-center">
                    @item.Phone
                </td>
                <td class="text-center">
                    @((RequestStatus)item.Status)
                </td>
                <td class="text-center">
                    @item.OpenRequests
                </td>
                <td class="text-center">
                    @if (item.AccountType == "Admin")
                    {
                        <a class="btn btn-outline-info" asp-action="EditAdmin" asp-controller="Admin" asp-route-id="@item.Id">Edit</a>
                    }
                    else if (item.AccountType == "Physician")
                    {
                        <a class="btn btn-outline-info" asp-action="EditProviderAccount" asp-controller="Provider" asp-route-id="@item.Id">Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pagination" />