@model CreateAdminDTO
@{
    ViewData["Title"] = "CreateAdminAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#access";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <h4>Create Admin Account</h4>

        <a class="btn btn-outline-info bg-white text-info" onclick="history.back()"> &lt; Back </a>
    </div>

    <div class="bg-white rounded shadow p-3">
        <h5 class="mb-4">Account Information</h5>

        <form asp-action="CreateAdminAccount" asp-controller="Admin" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text"
                               @* asp-for="UserName" *@
                               class="form-control"
                               id="Username"
                               placeholder="username" disabled/>
                        <label for="Username">Username (Email)</label>
                    </div>
                    @* <span asp-validation-for="UserName" class="text-danger"></span> *@
                </div>
                <div class="col-md-4">
                    <div class="form-floating flex-grow-1">
                        <input asp-for="Password"
                               type="password"
                               class="form-control input"
                               id="password"
                               placeholder="" />
                        <label for="password" class="no-bg-label">Password</label>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <select class="form-select" id="role" asp-for="Role">
                            <option selected value="">Select Role</option>
                            @foreach (var item in Model.Roles)
                            {
                                <option value="@item.Roleid">@item.Name</option>
                            }
                        </select>
                        <label for="role" class="form-label">Role</label>
                    </div>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>

            <h5 class="mb-4">Administrator Information</h5>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="FirstName"
                               class="form-control"
                               id="firstname"
                               placeholder="firstname" />
                        <label for="firstname">First Name</label>
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="LastName"
                               class="form-control"
                               id="lastname"
                               placeholder="lastname" />
                        <label for="firstname">Last Name</label>
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Email"
                               class="form-control "
                               id="email"
                               placeholder="email" />
                        <label for="firstname">Email</label>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="ConfirmEmail"
                               class="form-control "
                               id="confirmEmail"
                               placeholder="confirm email" />
                        <label for="confirmEmail">Confirm Email</label>
                    </div>
                    <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="tel"
                               asp-for="PhoneNumber"
                               class="form-control "
                               id="phone"
                               placeholder=""
                               style="height: 58px" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    @for (int i = 0; i < Model.Regions.Count; i++)
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input me-2" type="checkbox" asp-for="@Model.Regions[i].IsPresent">
                            <label class="form-check-label text6" asp-for="@Model.Regions[i].IsPresent">@Model.Regions[i].RegionName</label>
                            <input hidden asp-for="@Model.Regions[i].RegionId" />
                        </div>
                    }
                </div>
            </div>

            <h5 class="mb-4">Mailing & Billing Information</h5>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Address1"
                               class="form-control "
                               id="address1"
                               placeholder="address" />
                        <label for="address1">Address 1</label>
                    </div>
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Address2"
                               class="form-control "
                               id="address2"
                               placeholder="address" />
                        <label for="address2">Address 2</label>
                    </div>
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="City"
                               class="form-control"
                               id="city"
                               placeholder="city" />
                        <label for="city">City</label>
                    </div>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <select class="form-select" id="state" asp-for="State">
                            <option selected value="">Select State</option>
                            @foreach (var item in Model.Regions)
                            {
                                <option value="@item.RegionId">@item.RegionName</option>
                            }
                        </select>
                        <label for="state" class="form-label">State</label>
                    </div>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Zip"
                               class="form-control"
                               id="zip"
                               placeholder="zip" />
                        <label for="address1">Zip</label>
                    </div>
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="tel"
                               asp-for="AltPhoneNumber"
                               class="form-control"
                               id="phone1"
                               placeholder=""
                               style="height: 58px" />
                    </div>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success text-white">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>


<partial name="_ActiveTabPartial" model=active />