@model Pagination<LogsDTO>
@using Entities.Enum;

<table class="table mt-3">
    <thead class="table-light">
        <tr>
            <th class="col">
                Recipient
            </th>
            <th class="col text-center">
                Active
            </th>
            <th class="col text-center">
                Role Name
            </th>
            <th class="col text-center">
                Email Id
            </th>
            <th class="col text-center">
                Created Date
            </th>
            <th class="col text-center">
                Sent Date
            </th>
            <th class="col text-center">
                Sent
            </th>
            <th class="col text-center">
                Sent Tries
            </th>
            <th class="col text-center">
                Confirmation Number
            </th>
        </tr>
    </thead>
    <tbody>
       @*  @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @item.Recipient
                </td>
                <td class="text-center">
                    @item.Active
                </td>
                <td class="text-center">
                    @item.Role
                </td>
                <td class="text-center">
                    @item.Email
                </td>
                <td class="text-center">
                    @item.CreatedDate
                </td>
                <td class="text-center">
                    @item.SentDate
                </td>
                <td class="text-center">
                    @item.Sent
                </td>
                <td class="text-center">
                    @item.SentTries
                </td>
                <td class="text-center">
                    @item.ConfirmationNumber
                </td>
            </tr>
        } *@
    </tbody>
</table>
@*Pagination code*@
<div class="pagination d-flex justify-content-center align-items-center">

    @if (Model.TotalPages != 0)
    {
        <ul class="mt-2 mb-2 ps-0">
            <!-- Previous button -->
            <li class="page-item">
                <a class="page-link" id="prevBtn" role="button" onclick="previousPage()">&laquo; Previous</a>
            </li>

            <!-- Page links -->
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" role="button" onclick="changePage(@i)">@i</a>
                </li>
            }

            <!-- Next button -->
            <li class="page-item">
                <a class="page-link" role="button" onclick="nextPage(@Model.TotalPages)">Next &raquo;</a>
            </li>
        </ul>
    }
    else
    {
        <h3>No data found</h3>
    }
</div>