@model EditPhysicianDTO
@{
    ViewData["Title"] = "EditProviderAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#access";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <h4>Edit Physician Account</h4>

        <a asp-controller="Admin" asp-action="AdminDashboard" class="btn btn-outline-info"> < Back </a>
    </div>

    <div class="bg">
        <form asp-action="" asp-controller="Admin" method="post">
            <h4 class="mb-4">Account Information</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="UserName"
                               class="form-control"
                               id="username"
                               placeholder="username"
                               readonly />
                        <label for="floatingPassword">User Name</label>
                    </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Password"
                               class="form-control"
                               id="password"
                               placeholder="password" />
                        <label for="password">Password</label>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <select class="form-select" id="status" disabled>
                            <option>Active</option>
                        </select>
                        <label for="status" class="form-label">Status</label>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                       @*  <select class="form-select" id="role" asp-for="Role">
                            <option selected value="0">Select Role</option>
                            @foreach (var item in Model.Roles)
                            {
                                <option value="@item.Roleid">@item.Name</option>
                            }
                        </select>
                        <label for="role" class="form-label">Role</label> *@
                    </div>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-auto">
                    <button class="btn btn-outline-info" type="submit" asp-action="ResetPassword" asp-controller="Admin"> Reset Password </button>
                </div>
            </div>

            <h4 class="mb-4">Physician Information</h4>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="FirstName"
                               class="form-control dis-admin-field"
                               id="firstname"
                               placeholder="firstname"
                               disabled />
                        <label for="firstname">First Name</label>
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="LastName"
                               class="form-control dis-admin-field"
                               id="lastname"
                               placeholder="lastname"
                               disabled />
                        <label for="firstname">Last Name</label>
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Email"
                               class="form-control dis-admin-field"
                               id="email"
                               placeholder="email"
                               disabled />
                        <label for="firstname">Email</label>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="tel"
                               asp-for="PhoneNumber"
                               class="form-control dis-admin-field"
                               id="phone"
                               placeholder=""
                               style="height: 58px"
                               disabled />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="MedicalLicense"
                               class="form-control dis-admin-field"
                               id="medicalLicense"
                               placeholder="medicalLicense" />
                        <label for="medicalLicense">Medical License #</label>
                    </div>
                    <span asp-validation-for="MedicalLicense" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="NPINumber"
                               class="form-control dis-admin-field"
                               id="npiNumber"
                               placeholder="npiNumber" />
                        <label for="npiNumber">NPI Number</label>
                    </div>
                    <span asp-validation-for="NPINumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="SyncEmail"
                               class="form-control dis-admin-field"
                               id="syncEmail"
                               placeholder="syncEmail"
                               disabled />
                        <label for="syncEmail">Synchronization Email Address</label>
                    </div>
                    <span asp-validation-for="SyncEmail" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                   @*  @foreach (var item in Model.Regions)
                    {
                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input addministrator checkedregion" name="checkedregion" type="checkbox" value="" id="@item.RegionId" @(item.IsPresent ? "checked" : "")>
                            <label class="form-check-label" for="@item.RegionId">
                                @item.RegionName
                            </label>
                        </div>
                    } *@
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-info text-white btn-edit-admin"> Edit </button>
                    <button type="button" class="btn btn-info text-white btn-save" id="saveBtn">Save</button>
                </div>
            </div>

            <h4 class="mb-4">Mailing & Billing Information</h4>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Address1"
                               class="form-control  dis-billing-field"
                               id="address1"
                               placeholder="address"
                               disabled />
                        <label for="address1">Address 1</label>
                    </div>
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Address2"
                               class="form-control  dis-billing-field"
                               id="address2"
                               placeholder="address"
                               disabled />
                        <label for="address2">Address 2</label>
                    </div>
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="City"
                               class="form-control dis-billing-field"
                               id="city"
                               placeholder="city"
                               disabled />
                        <label for="city">City</label>
                    </div>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                       @*  <select class="form-select" id="state" asp-for="State">
                            <option selected value="0">Select State</option>
                            @foreach (var item in Model.Regions)
                            {
                                <option value="@item.RegionId">@item.RegionName</option>
                            }
                        </select>
                        <label for="state" class="form-label">State</label> *@
                    </div>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Zip"
                               class="form-control dis-billing-field"
                               id="zip"
                               placeholder="zip"
                               disabled />
                        <label for="address1">Zip</label>
                    </div>
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="tel"
                               asp-for="AltPhoneNumber"
                               class="form-control dis-billing-field"
                               id="phone1"
                               placeholder=""
                               style="height: 58px"
                               disabled />
                        <span asp-validation-for="AltPhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-info text-white btn-edit-billing"> Edit </button>
                    <button type="button" class="btn btn-info text-white btn-save-billing" id="saveBtn">Save</button>
                </div>
            </div>

            <h5 class="mb-4">Provider Profile</h5>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="BusinessName"
                               class="form-control dis-profile-field"
                               id="businessName"
                               placeholder="businessName" />
                        <label for="businessName">Business Name</label>
                    </div>
                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="BusinessWebsite"
                               class="form-control dis-profile-field"
                               id="businessWebsite"
                               placeholder="businessWebsite" />
                        <label for="businessWebsite">Business Website</label>
                    </div>
                    <span asp-validation-for="BusinessWebsite" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating ms-2 w-100">
                        <div class="row rounded border bg-light w-100">
                            <div id="filename" class="py-3 col-8" style="border:none">Select Photo</div>

                            <div class="col-4 d-flex justify-content-end pe-0">
                                <label for="fileLoader" class="bg-info text-white text-center h-100 rounded-end py-2 px-2" style="cursor: pointer;">
                                    <i class="bi bi-cloud-upload text-white"></i>
                                    <label for="fileLoader" class="h-100 p-2 text-white" style="cursor: pointer;">Upload</label>
                                </label>
                                <input asp-for="Photo" type="file" id="fileLoader" onchange="photo_validation()">
                            </div>
                        </div>
                        <span id="photo_validation" class="text-danger" asp-validation-for="Photo"></span>
                        <img src="" id="photo_img" class="w-100 mt-4" />
                    </div>
                </div>
            </div>

             <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-floating">
                        <textarea class="form-control dis-profile-field" placeholder="Adminnotes" id="Adminnotes" style="height: 100px" asp-for="AdminNotes"></textarea>
                        <label for="Adminnotes">Admin Notes</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-info text-white btn-profile"> Edit </button>
                    <button type="button" class="btn btn-info text-white btn-save-profile" id="saveBtn">Save</button>
                </div>
            </div>

            <hr />

            <h5 class="mb-4">Onboarding</h5>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input Subcheckbox me-5" id="contractorAgreement">
                        <label class="form-check-label" for="contractorAgreement">
                            Independent Contractor Agreement
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="file" class="d-none" id="agreement" asp-for="IsAgreementDoc" onchange="selectcheckbox('contractorAgreement','btn1')">
                    <label for="agreement" class="rounded bg-info btn text-light"><i class="bi bi-cloud-arrow-up me-2 "></i>Upload</label>
                    <button class="btn btn-info text-light ms-2 view-btn d-none" id="btn1" onclick="viewDocument('agreement')">View</button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input Subcheckbox me-5" id="bgCheck">
                        <label class="form-check-label" for="bgCheck">
                            Background Check
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="file" class="d-none" id="backgroundCheck" asp-for="IsBackgroundDoc" onchange="selectcheckbox('bgCheck','btn2')">
                    <label for="backgroundCheck" class="rounded bg-info btn text-light"><i class="bi bi-cloud-arrow-up me-2 "></i>Upload</label>
                    <button class="btn btn-info text-light ms-2 view-btn d-none" id="btn2" onclick="viewDocument('backgroundCheck')">View</button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input Subcheckbox me-5" id="compliance">
                        <label class="form-check-label" for="compliance">
                            HIPAA Compilance
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="file" class="d-none" id="hippa" asp-for="IsTrainingDoc" onchange="selectcheckbox('compliance','btn3')">
                    <label for="hippa" class="rounded bg-info btn text-light"><i class="bi bi-cloud-arrow-up me-2 "></i>Upload</label>
                    <button class="btn btn-info text-light ms-2 view-btn d-none" id="btn3" onclick="viewDocument('hippa')">View</button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input Subcheckbox me-5" id="nonDisclosure">
                        <label class="form-check-label" for="nonDisclosure">
                            Non-Disclosure Agreement
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="file" class="d-none" id="nda" asp-for="IsNonDisclosureDoc" onchange="selectcheckbox('nonDisclosure','btn4')">
                    <label for="nda" class="rounded bg-info btn text-light"><i class="bi bi-cloud-arrow-up me-2 "></i>Upload</label>
                    <button class="btn btn-info text-light ms-2 view-btn d-none" id="btn4" onclick="viewDocument('nda')">View</button>
                </div>
            </div>
            <hr />
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-info text-white btn-edit-billing"> Edit </button>
                    <button type="button" class="btn btn-info text-white btn-save-billing" id="saveBtn">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ActiveTabPartial" model=active />
<script src="/js/EditPhysician.js" asp-append-version="true"></script>