@model ViewDocumentList
@{
    ViewData["Title"] = "ViewUploads";
    Layout = "~/Views/Shared/_ProviderLayout.cshtml";
}
@section style{
    <link rel="stylesheet" href="~/css/view_document.css" asp-append-version="true" />
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <h4>Documents</h4>

        <a class="btn btn-outline-info" onclick="history.back()"> < Back </a>
    </div>

    <div class="bg">
        Patient Name
        <h5><span class="text-info"> @Model.Name </span> (@Model.ConfirmationNumber) </h5>
        <p>
            Check here to review and add files that you or Client/Member has attached to the Request.
        </p>

        <div class="row">
            <div class="mb-3">
                <div class="d-flex rounded border bg-light align-items-center ps-2"
                     onclick="document.getElementById('choose-file').click()"
                     style="cursor: pointer">
                    <label class="flex-grow-1 upload" id="fileLabel">Select File</label>
                    <button type="button" class="btn btn-info uploadbtn text-white"
                            style="width: fit-content">
                        <i class="bi bi-cloud-arrow-up"></i>
                        Upload
                    </button>
                </div>
            </div>
        </div>

        <div id="fileNames"></div>
        <input type="file" style="display: none" multiple id="choose-file" />

        <div class="row justify-content-end mt-2">
            <div class="col-auto">
                <button class="btn btn-info text-white toggle-button" onclick="submitFile(@Model.RequestId)">Upload All</button>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
            <h5>Documents</h5>

            <div>
                <a class="btn btn-outline-info" onclick="downloadSelectedFiles()"> Download All </a>
                <a class="btn btn-outline-info" onclick="deleteSelectedFiles()"> Delete All </a>
                <a class="btn btn-outline-info" onclick="sendemail(@Model.RequestId,'@Model.Email')"> Send Mail </a>
            </div>
        </div>
        <table class="table mt-3">
            <thead class="table-light">
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        Documents
                    </td>
                    <td>Upload Date <i class="bi bi-arrow-up-short fs-4"></i> </td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Document)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="checkdoc" data-docId="@item.DocumentId"/>
                        </td>
                        <td>
                            @item.FileName
                        </td>
                        <td>
                            @item.CreatedDate.ToString("MMM dd, yyyy")
                        </td>
                        <td>
                            <a asp-route-docId="@item.DocumentId" asp-action="Download" asp-controller="Admin" class="btn btn-outline-info"><i class="bi bi-cloud-arrow-down fs-4"></i></a>
                            <a asp-route-docId="@item.DocumentId" asp-action="Delete" asp-controller="Admin" class="btn btn-outline-info">
                                <i class="bi bi-trash fs-4" style="position: relative; right: 7px; bottom: 9px;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script>
    //script for cross and list of selected files
    let allFiles = [];
    let input = document.getElementById("choose-file");
    var button = document.getElementsByClassName("toggle-button")[0];

    let div = document.getElementById("fileNames");

    input.addEventListener("change", function () {
        let files = input.files;


        for (let i = 0; i < files.length; i++) {
            allFiles.push(files[i]);
        }

        console.log(allFiles)
        button.style = "display:block"
        showNames(files);
    });

    function showNames(files) {
        for (let i = 0; i < files.length; i++) {
            let icon = document.createElement('i');
            icon.classList = 'bi bi-x-lg fileIcon';


            let span = document.createElement('span');
            span.className = "showFile";
            span.style.color = 'black';
            span.textContent = files[i].name;

            let spanIcon = icon.cloneNode(true); // Clone the icon for each file
            span.appendChild(spanIcon);
            div.appendChild(span);

            spanIcon.onclick = function () {
                let index = allFiles.indexOf(files[i]);
                allFiles.splice(index, 1);
                div.removeChild(span);

                if (allFiles.length == 0) {
                    button.style = "display:none";
                }
            };
        }
    }

    function removeAll() {
        allFiles = [];
        div.innerHTML = "";
        button.style = "display:none";
    }

    function submitFile(id) {

        console.log(allFiles);
        console.log("submit files calls");

        const formData = new FormData();

        for (let i = 0; i < allFiles.length; i++) {
            formData.append('files', allFiles[i]);
        }


        $.ajax({
            type: 'POST',
            url: "/Admin/Upload/" + id,
            data: (formData),
            processData: false,
            contentType: false,

            success: function (response) {
                console.log(response)
                removeAll();
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error("Error:", status, error);
            }
        });
    }

    //script for download selected files
    function downloadSelectedFiles() {

        var selectedFiles = document.querySelectorAll('input[name="checkdoc"]:checked');
        var fileUrls = [];


        selectedFiles.forEach(function (checkbox) {
            var row = checkbox.closest('tr');
            var fileUrl = row.querySelector('a').getAttribute('href');
            fileUrls.push(fileUrl);
        });

        fileUrls.forEach(function (url) {
            var link = document.createElement('a');
            link.href = url;
            link.download = '';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    }

    //script for checking all the files
    document.addEventListener('DOMContentLoaded', function () {
        const selectAllCheckbox = document.querySelector('thead input[type="checkbox"]');
        const rowCheckboxes = document.querySelectorAll('tbody input[type="checkbox"]');

        // Add event listener to the "Select All" checkbox
        selectAllCheckbox.addEventListener('change', function () {
            const isChecked = this.checked;
            // Set the checked property of all row checkboxes to match the state of the "Select All" checkbox
            rowCheckboxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
        });
    });

    function deleteSelectedFiles() {
        var selectedFiles = document.querySelectorAll('input[name="checkdoc"]:checked');
        var fileIds = [];

        console.log(selectedFiles);

        selectedFiles.forEach(function (checkbox) {
            let docId = checkbox.getAttribute('data-docId');
            console.log(docId);
            fileIds.push(docId);
        });

        console.log(selectedFiles);

        if (fileIds.length > 0) {
  
            $.ajax({
                url: '/Admin/DeleteSelectedFiles',
                type: 'POST',
                data: { fileIds: fileIds },
                success: function (response) {
                    console.log('Files deleted successfully');
                    location.reload(); 
                },
                error: function (xhr, status, error) {
                    console.error('Error deleting files:', error);
                }
            });
        } else {
            console.log('No files selected to delete');
        }
    }

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    function sendemail(id, mail) {

        var selectedFiles = document.querySelectorAll('input[name="checkdoc"]:checked');
        var fileIds = [];

        console.log(selectedFiles);

        selectedFiles.forEach(function (checkbox) {
            let docId = checkbox.getAttribute('data-docId');
            console.log(docId);
            fileIds.push(docId);
        });
        console.log(fileIds);
        console.log(id);
        console.log(mail);
        if (fileIds.length > 0) {
            $.ajax({
                type: "POST",
                url: '/Admin/SendAttachment',
                data: { request_id: id, files_jx: fileIds, mail: mail },
                async: false,
                success: function () {
                    console.log("Email sent successfully");
                    toastr.success("Mail sent successfully");
                },
                error: function (xhr, status, error) {
                    toastr.error("Error Loading Reasons");
                }
            });
        } else {
            toastr.error("Select the files");
        }
    }
</script>