@model Pagination<ProviderMenuDTO>
@{int i=0;}

<div class="d-lg-block d-none ps-0 pe-0">
    <table class="table">
        <thead class="table-light">
            <tr>
          @*       <th class="ps-3 text-center me-4" style="width:150px;">
                    Stop Notification
                </th> *@
                <th>
                    Provider Name <i class="bi bi-arrow-up"></i>
                </th>
                <th>
                    Role
                </th>
                <th>
                    Status
                </th>

                <th class="text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
            @*         <td class="ps-3 text-center me-4" style="width:150px;">
                        <input class="form-check-input change" type="checkbox">
                    </td> *@

                    <td>
                        @item.ProviderName
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Role))
                        {
                            <span>Unavailable</span>
                        }
                        else
                        {
                            @item.Role;
                        }
                    </td>
                    <td>
                        @if (item.Status == null)
                        {
                            <span>Unavailable</span>
                        }
                        else
                        {
                            @((RequestStatus)item.Status)
                        }
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-info" onclick="SendMessageModal(@item.PhysicianId)">Contact</button>
                        <a asp-action="EditProviderAccount" asp-controller="Admin" asp-route-physicianId="@item.PhysicianId" class="btn btn-outline-info">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-lg-none" id="accordianData">
    <div class="accordion accordion-flush " id="accordionFlushExample">
        @foreach (var item in Model.Data)
        {
            <div class="accordion-item accordian-back">
                <h2 class="accordi on-header">
                    <button class="accordion-button collapsed accordian-back d-block" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@i" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="container ">
                            <div class="row row-cols-2 lh-sm" style="font-size:1em">
                                <div class="d-flex">
                                    
                                    @item.ProviderName
                                </div>
                            </div>
                            <br>
                        </div>

                    </button>

                    @*<hr class="m-0">*@

                </h2>

                <div id="flush-@i" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">

                    <div class="accordion-body d-flex flex-column gap-1 ">
                        <div class="d-flex">
                            <div style="width:40px">
                                <span class="accordian-span align-items-center">
                                    <span class="fa-solid fa-check text-info"></span>
                                </span>
                            </div>
                            <span class="align-self-center">Status: <span class="fw-semibold"> @((RequestStatus)item.Status)</span></span>
                        </div>

                        <br />
                        <div class="d-flex justify-content-end">

                            <a class="btn btn-outline-info" onclick="SendMessageModal(@item.PhysicianId)">Contact</a>
                            <a asp-action="EditProviderAccount" asp-controller="Admin" asp-route-physicianId="@item.PhysicianId" class="btn btn-outline-info">Edit</a>
                        </div>
                    </div>

                </div>
            </div>
            i++;
        }
    </div>
</div>
<partial name="_Pagination" />

<div class="modal fade"
     id="message"
     tabindex="-1"
     aria-labelledby="message"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info" data-bs-theme="dark">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Contact Your Provider</h1>
                <button type="button" class="btn-close opacity-100" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column justify-content-center">
                    <div class="text-muted mb-2">
                        Choose communication to send message
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="1" name="notification" id="sms">
                        <label class="form-check-label" for="sms">
                            SMS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="notification" value="2" id="email" checked>
                        <label class="form-check-label" for="email">
                            Email
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="notification" value="0" id="both">
                        <label class="form-check-label" for="both">
                            Both
                        </label>
                    </div>
                    <br />
                    <div class="form-floating mb-3">
                        <textarea class="form-control"
                                  placeholder="Leave a comment here"
                                  id="msg"
                                  style="height: 100px"></textarea>
                        <label for="msg" style="word-wrap: break-word">Message</label>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info text-white" id="SendNotification" data-bs-dismiss="modal">Send</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

</div>