@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var count = ViewBag.count;
}
@section style {
    <link asp-append-version="true" rel="stylesheet" href="~/css/admin_dashboard.css" />
}


<div class="container-fluid">

    <div class="row justify-content-center mt-2">
        <div class="col-xl-2 col-sm-4 col-6 p-2">
            <div class="rounded-5 ps-3 p-2 d-flex flex-column" role="button" id="NewState" onclick="activateTab('NewState')">
                <span><i class="bi bi-compass"></i> NEW</span>
                <span class="h3 fw-bold">@count.NewCount </span>
            </div>
        </div>

        <div class="col-xl-2 col-sm-4 col-6 p-2">
            <div class="rounded-5 ps-3 p-2 d-flex flex-column" role="button" id="PendingState" onclick="activateTab('PendingState')">
                <span><i class="bi bi-person"></i> PENDING</span>
                <span class="h3 fw-bold">@count.PendingCount</span>
            </div>
        </div>

        <div class="col-xl-2 col-sm-4 col-6 p-2">
            <div class="rounded-5 ps-3 p-2 d-flex flex-column" role="button" id="ActiveState" onclick="activateTab('ActiveState')">
                <span><i class="bi bi-check2-circle"></i> ACTIVE</span>
                <span class="h3 fw-bold">@count.ActiveCount</span>
            </div>

        </div>

        <div class="col-xl-2 col-sm-4 col-6 p-2">
            <div class="rounded-5 ps-3 p-2 d-flex flex-column" role="button" id="ConcludeState" onclick="activateTab('ConcludeState')">
                <span><i class="bi bi-clock"></i> CONCLUDE</span>
                <span class="h3 fw-bold">@count.ConcludeCount</span>
            </div>
        </div>

        <div class="col-xl-2 col-sm-4 col-6 p-2">
            <div class="rounded-5 ps-3 p-2 d-flex flex-column" role="button" id="ToCloseState" onclick="activateTab('ToCloseState')">
                <span><i class="bi bi-person-x-fill"></i> TO CLOSE</span>
                <span class="h3 fw-bold">@count.ToCloseCount</span>
            </div>
        </div>

        <div class="col-xl-2 col-sm-4 col-6 p-2 ">
            <div class="rounded-5 ps-3 p-2 d-flex flex-column" role="button" id="UnpaidState" onclick="activateTab('UnpaidState')">
                <span><i class="fa-solid fa-dollar-sign"></i> UNPAID</span>
                <span class="h3 fw-bold">@count.UnpaidCount</span>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="fw-bolder fs-5">
                Patients <span class="fs-6" style="color:#00008b" id="spanText"></span>
            </h5>
            <div>
                <a type="button" class="btn btn-info p-2 text-white fw-medium" id="sendLink">
                    <i class="fa-regular fa-paper-plane pe-1"></i><span class="d-lg-inline-block d-none"> Send Link</span>
                </a>
                <a type="button" class="btn btn-info p-2 text-white fw-medium" asp-action="CreateRequest">
                    <i class="fa-solid fa-notes-medical pe-1"></i><span class="d-lg-inline-block d-none"> Create Request</span>
                </a>
                <button type="button" id="exportFiltered" class="btn btn-info p-2 text-white fw-medium">
                    <i class="fa-solid fa-share pe-1"></i><span class="d-lg-inline-block d-none">Export</span>
                </button>
                <button type="button" id="exportAll" class="btn btn-info p-2 text-white fw-medium">
                    <i class="fa-solid fa-share pe-1"></i><span class="d-lg-inline-block d-none">Export All</span>
                </button>
                <button type="button" class="btn btn-info p-2 text-white fw-medium" id="requestDty">
                    <i class="fa-solid fa-headset pe-1"></i><span class="d-lg-inline-block d-none">Request DTY Support</span>
                </button>
            </div>
        </div>
    </div>

    <div class="bg-white mt-2 mb-2 rounded" style="box-shadow:-1px 0rem 2rem 0px rgba(0, 0, 0, 0.175)">
        <div class="row ps-3 pe-3">
            <div class="col-lg-2">
                <div>
                    <input class="form-control p-2 mt-3 px-4 mb-3 w-100" type="text" placeholder="Search Patients" id="search" />
                </div>
            </div>
            <div class="col-lg-2">
                <select class="p-2 mt-3 px-4 form-select mb-3 w-100 regionSearch">
                    <option selected value="0">All Region</option>
                </select>
            </div>
            <div class="col-xl-2 d-xl-block d-lg-none"></div>
            <div class="col-xl-6 col-lg-8">
                <div class=" d-flex justify-content-around align-items-center p-2 mt-3 px-4 mb-3">
                    <div class="d-none d-md-block" role="button" id="AllFilter" onclick="activateFilter('AllFilter')">
                        All
                    </div>

                    <div class="d-md-flex d-block text-center align-items-center" role="button" id="PatientFilter" onclick="activateFilter('PatientFilter')">
                        <div class="bi bi-circle-fill m-1 green-color"></div>
                        Patient
                    </div>

                    <div class="d-md-flex d-block text-center align-items-center" role="button" id="FamilyFilter" onclick="activateFilter('FamilyFilter')">
                        <div class="bi bi-circle-fill m-1 orange-color"></div>
                        Family/Friend
                    </div>

                    <div class="d-md-flex d-block text-center align-items-center" role="button" id="BusinessFilter" onclick="activateFilter('BusinessFilter')">
                        <div class="bi bi-circle-fill m-1 pink-color"></div>
                        Business
                    </div>

                    <div class="d-md-flex d-block text-center align-items-center" role="button" id="ConciergeFilter" onclick="activateFilter('ConciergeFilter')">
                        <div class="bi bi-circle-fill m-1 blue-color"></div>
                        Concierge
                    </div>

                    <div class="d-md-flex d-block text-center align-items-center" role="button" id="VipFilter" onclick="activateFilter('VipFilter')">
                        <div class="bi bi-circle-fill m-1 purple-color"></div>
                        VIP
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="tableRecords" class="tableData mb-5"></div>

</div>
<partial name="_SendLinkModal"/>

@section Scripts {
    <script src="~/js/AdminDashboard.js" asp-append-version="true"></script>
}